body > div {
    display: inline-block;
    width: 1000px;
    margin-top: 20pt;
    margin-left: calc((100% - 1000px) / 2);
}
.top{
    display: inline-block;
    width: 100%;
}
.headerLinks{
    display: inline-block;
    margin-left: 15px;
    float: left;
}
.headerLogo{
    display: inline-block;
    height: 30px;  
    float: left;
    margin-top: -10px;
}

.headerLink{
    float: left;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    color: black;
    font-weight: bold;  
    padding-left: 10px;
    padding-right: 10px;
    line-height: 10px; 
    margin-top: ;  
}
.headerLink:nth-of-type(1){
    padding-left: 10px;
    padding-right: 10px;
}
.center{
    background-color: #F5F4F5;
    display: inline-block;
    width: 100%;
}

.img{
    display: inline-block;
    width: 10%;
    margin-left: 33%;
    margin-top: 50px;

}
.text{
    display: inline-block;
    width: 30%;
    margin-left: 7%;
}
.heading{
    display: inline-block;
    text-transform: uppercase;
    margin: 0px;
    margin-top: 50px;
    font-size: 24px;
}
.paragrah{
    display: inline-block;
    font-size: 12px;
    margin: 0px;
    margin-top: 10px;

}
.linkBack{
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 8px;
    border: #0987EE;
    border-radius: 4px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    background-color:#0987EE;
    margin-bottom: 40px;
}
.bottom {
    display: inline-block;
    width: 100%; 
    margin-top: 40px;
}
.bottomlinks{
    display: inline-block;
    width: 100%;
}
.bottomLink{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    line-height: 10px;
}
.bottomLink:nth-of-type(1){
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 40px;
}

.bottom .fa{
    display: inline-block;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.bottomLogoDisney{
    display: inline-block;
    height: 40px;
    float: left;
    margin-top: -15px;
    }
   
.bottomSmallText{ 
    margin-left: 50px;
    display: inline-block;
    margin-top: 10px;
    font-size: 10px;
}
.bottomLinkSmall {
    display: inline-block;
    text-decoration: none;
    color: black;
  }
  .symbol{
  }
.copyright{
    display: inline-block;
    margin: 0px;
    margin-top: 3px;
    float: left;
  }